files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
        MIIEITCCAwmgAwIBAgIJANnIIQApEJb9MA0GCSqGSIb3DQEBCwUAMIGiMRswGQYD
        VQQDDBJtb25pdG9yaW5nLmFsaWguaW4xEDAOBgNVBAcMB0pha2FydGExFjAUBgNV
        BAgMDVNvdXRoIEpha2FydGExDzANBgNVBAoMBkFydGFrYTESMBAGA1UECwwJVGVj
        aCBUZWFtMScwJQYJKoZIhvcNAQkBFhhuYXVmYWwuaWhzYW4yMUBnbWFpbC5jb20x
        CzAJBgNVBAYTAklEMB4XDTIwMTIzMDIzMDU0M1oXDTIxMTIzMDIzMDU0M1owgaIx
        GzAZBgNVBAMMEm1vbml0b3JpbmcuYWxpaC5pbjEQMA4GA1UEBwwHSmFrYXJ0YTEW
        MBQGA1UECAwNU291dGggSmFrYXJ0YTEPMA0GA1UECgwGQXJ0YWthMRIwEAYDVQQL
        DAlUZWNoIFRlYW0xJzAlBgkqhkiG9w0BCQEWGG5hdWZhbC5paHNhbjIxQGdtYWls
        LmNvbTELMAkGA1UEBhMCSUQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
        AQDxZEV+42NF39n8zMVXZ0erqJGgsT47gxSxGORwsCLyqThGfA1QWr440d6c6119
        69TfqK/b0LgpiNtgSQZuiNld0KYHpY5QUhD3bpc1ub92qnQ1wzYivGe9dGVNcjAK
        Wl5aAP1zwKHzxfVVadneqVco70P5u1bMRJUNk3soIhnTiYfwJG7Z3VVAip7qykg5
        0JASE0D02mz4b+pWRvhM3vxxPUDpMj6tidvlyeVnldY2Sh69TQueVbUTy23bCFRT
        Rduz2h7g8MRqLCllNEEXB+H/2ioroz0BUCKZotsA3h+TKY3uQYD5vNzvR8izB28a
        Wp+GgRuDOsIm6GGR2WdZRDvpAgMBAAGjWDBWMAkGA1UdEwQCMAAwCwYDVR0PBAQD
        AgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAdBgNVHREEFjAUghJt
        b25pdG9yaW5nLmFsaWguaW4wDQYJKoZIhvcNAQELBQADggEBAHimpvciemahRDbK
        0dAioVDLHE+tOrrv8HuusnjzOZk1gf/hXT0J17GamdNKVenQGkrAKmUkr2IpxFtZ
        SzQnVOevngLuxJxXIs7B0L7Wg6FyMbiRgvpwvpDHDxU49P8oPKzH4VGKtOtxRAxF
        Cz9zUittdB47OyWJv2zSjMQQ3ppKfRaUFqQBfrLYffdRslAiBXIKPhU3dWg+JbGt
        tcFKpoTpa4d5Fl5FNWwL9TCicJEvJL2w1FLP5pEHDSU8+GDlDB/+bgA2EV3L9h0s
        +SyzdqqDEL85xP7zv/vHlM6kbSt3qyRw8FMlaeLSBiCiUAxCOQ8c0dhsnOehec3n
        4xSTQYU=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
        MIIEpAIBAAKCAQEA8WRFfuNjRd/Z/MzFV2dHq6iRoLE+O4MUsRjkcLAi8qk4RnwN
        UFq+ONHenOtdfevU36iv29C4KYjbYEkGbojZXdCmB6WOUFIQ926XNbm/dqp0NcM2
        IrxnvXRlTXIwClpeWgD9c8Ch88X1VWnZ3qlXKO9D+btWzESVDZN7KCIZ04mH8CRu
        2d1VQIqe6spIOdCQEhNA9Nps+G/qVkb4TN78cT1A6TI+rYnb5cnlZ5XWNkoevU0L
        nlW1E8tt2whUU0Xbs9oe4PDEaiwpZTRBFwfh/9oqK6M9AVAimaLbAN4fkymN7kGA
        +bzc70fIswdvGlqfhoEbgzrCJuhhkdlnWUQ76QIDAQABAoIBAEUZNuuDm788vOGo
        nDTQ06tHragaFH5kn1+yiHHZeaeM2RcUG5uM3jbVnKu+lByfjWgYmX6K2KzLCEEf
        pj+t3MsGFwDJW1uSolixx4cRjMUjNfDN2IlI9Uk+MGFi9m2AQNHyxpqD4dguKnQw
        wLUENHb7RrIN9mKynxgrx21Nlab/gR0uey6XGSBgJimXsOZxQ3WFl3OXxh+fStUU
        Aum9nQfM2ZptD+CpBukgvVDu+KDEAy3bUaKEZKalKKIO09f8n9nm272hPFdoCBcn
        3F3t9LixuYKaHFfBuJq7wIDlyTTRHPFVsiyV0QeLlGrtpF0cleh/slErY9ZnJhN9
        uu3+X6ECgYEA+/A/6tCke8m3zhthfK3Lv1zNDMvMaK0+ulFdZSHgWngWX1i5wOki
        7MXFpXsgiJ6fwEvQYbJM9L0i1ebM2XMh1iK8UQOC79Xxo5N7d6ZHgf7NeHyNpUCZ
        XD+JjIi6NjQ0XVUYMILgI+IWaHn0S7oZj9nklbU5iutoMXVLPmc7sDcCgYEA9Uh+
        xAx3TDUWMUqUpZTw67B03CeJdn39oGcuBgs4LmYvfHv3GGF7rpO9a61o1ipvCWAm
        UYZs3sFKnAEDLX3GB6lCoEfM46KwNpLzXL0jPtXXD/JIXtm9bd1eeaL1KKcyFPH9
        DZ9BMLx0Welai0RLSCd1ZuXxpT/vlnm7tGlyJN8CgYEA1vEVBxf0jOv/VeeEV6PL
        Jbtd8aHaBiBwWPNb9BFf4K99nuEKsWv18P2Wb2VJz2VNs/i6ku9UuqS2mLmtYYPZ
        hWDjO1b8mfP0kXMdLmp9rYme8UGKc0dW0B4hEvX/sIj/d/VGivTNl6+nIIGTjBv8
        /P6QB62ypzPKFBAXHuliQicCgYEA8DFyuab/d+gQeGpxUAifOB4PAbvR1/Ae2uHP
        Zum7tWwpmjyGxyBHDrjsaDJjFD5vh33ZaEI8AJLF7ijrpLOipcPxU6WcFVouNvMG
        T82DYzfip2H5zrBo2NpLds/GRW4dE/e4d4t5OjGBur5SBUj2c4z4YbBRRyJqCy/g
        SRZtSX8CgYBPQnDsB3wimkTgU7P7vuANbBeAkAF88I+5cMZuGgrb61z+pJtA9lT4
        f6Kn3rsA5kFvRCd7SCltgtFmMjPKlBuvlCxrJBlMPyqOQjVPQcSVhUBJ/HUKkw5D
        fBg7B8huVS9jVP7D3WnD6sU7s2xsDgdHvI3JhIx3VsI0QmOLwdovOA==
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"