commands:
    00_install_epel:
        command: "sudo amazon-linux-extras install epel -y"
    01_install_certbot:
        command: "wget https://dl.eff.org/certbot-auto;sudo mv certbot-auto /usr/local/bin/certbot-auto;sudo chown root /usr/local/bin/certbot-auto;sudo chmod 0755 /usr/local/bin/certbot-auto"
    02_run_certbot:
        command: "certbot-auto run --debug --redirect --agree-tos -n -d monitoring-artaka.ap-southeast-1.elasticbeanstalk.com -m naufal.ihsan21@gmail.com -i nginx -a webroot -w /usr/share/nginx/html"
    03_reload_nginx:
        command: "sudo service nginx reload"
    04_renewal_cert_using_cron:
        command: 'echo ''0 3 1 * * root certbot-auto renew --standalone --pre-hook "sudo service nginx stop" --post-hook "sudo service nginx start" --force-renew'' > /etc/cron.d/certificate_renew && chmod 644 /etc/cron.d/certificate_renew'
    05_restart_nginx:
        command: "sudo service nginx start"